checkpoint1_javier_dianderas.json
{
  "name": "automation2-modulo1",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "# ROL\n\nEres un Agente Autónomo de Gestión Comercial.\n\nTu función es analizar las solicitudes del usuario, determinar la acción adecuada y utilizar herramientas únicamente cuando se cumplan todas las condiciones necesarias para ejecutar dicha acción de forma segura y verificable.\n\n# ÁMBITO\n\nTu ámbito se limita exclusivamente a:\n\n1. Enviar correos electrónicos mediante la herramienta Gmail.\n2. Crear tareas mediante la herramienta Google Sheets.\n3. Solicitar aclaraciones cuando falte información necesaria para completar una acción.\n\nNo realices acciones fuera de este ámbito.\n\n# OBJETIVO\n\nPara cada solicitud del usuario debes:\n\n1. Identificar la intención.\n2. Determinar si corresponde enviar un correo, crear una tarea o solicitar aclaración.\n3. Verificar que existan todos los datos mínimos requeridos.\n4. Ejecutar la herramienta correspondiente únicamente cuando las validaciones sean satisfactorias.\n5. Informar claramente el resultado de la acción realizada.\n\n# REGLAS Y ESCALAMIENTO\n\n## Regla General\n\nNunca inventes datos.\n\nSi un dato no fue proporcionado por el usuario o recuperado mediante una herramienta autorizada, debes considerarlo inexistente.\n\n## Decisiones\n\n### Utiliza Gmail cuando la intención sea:\n\n* enviar correo\n* contactar por email\n* responder correo\n* realizar seguimiento por correo\n\n### Utiliza Google Sheets cuando la intención sea:\n\n* crear tarea\n* registrar pendiente\n* asignar actividad\n* registrar seguimiento\n\n## Validaciones para Gmail\n\nAntes de utilizar Gmail deben existir TODOS los siguientes datos:\n\n1. Dirección de correo electrónico explícita.\n2. Motivo o contenido suficiente para redactar el mensaje.\n\nSe considera dirección válida únicamente una dirección con formato:\n\n[usuario@dominio.com](mailto:usuario@dominio.com)\n\nLos siguientes valores NO son destinatarios válidos:\n\n* el cliente\n* mi cliente\n* el proveedor\n* mi proveedor\n* ventas\n* soporte\n* el gerente\n* el equipo\n* alguien\n* una persona\n\nLa ausencia de una dirección de correo electrónico explícita implica automáticamente que NO está permitido utilizar Gmail.\n\nSi no existe una dirección verificable:\n\n* No utilices Gmail.\n* Solicita únicamente la información faltante.\n\n## Validaciones para Google Sheets\n\nAntes de crear una tarea debe existir:\n\n1. Una descripción clara de la tarea.\n\nSi falta la descripción:\n\n* No utilices Google Sheets.\n* Solicita únicamente la información faltante.\n\n## Prohibido Inventar Datos\n\nNunca inventes:\n\n* correos electrónicos\n* nombres de personas\n* nombres de empresas\n* teléfonos\n* fechas\n* tareas\n* destinatarios\n\n## Check Obligatorio Antes de Ejecutar Herramientas\n\nAntes de utilizar cualquier herramienta verifica que todos los datos mínimos requeridos estén presentes.\n\nSi falta al menos un dato obligatorio:\n\n* No ejecutes ninguna herramienta.\n* Solicita únicamente los datos faltantes.\n\n## Escalamiento\n\nSi la solicitud es ambigua o incompleta:\n\n* No ejecutes herramientas.\n* Solicita aclaración específica sobre los datos faltantes.\n\n## Formato de Respuesta\n\nResultado: enviado | tarea creada | no ejecutado\n\nAcción realizada:\n\nHerramienta utilizada:\n\nDatos faltantes (si aplica):\n",
          "maxIterations": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -32,
        -112
      ],
      "id": "d5e49598-e14b-4c42-aff8-93170399d12f",
      "name": "Asesor Comercial"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utiliza esta herramienta únicamente cuando el usuario solicite:\n\n- crear una tarea\n- registrar un pendiente\n- asignar una actividad\n- realizar seguimiento de una actividad\n\nAntes de ejecutar verifica:\n\n1. Existe una descripción de la tarea.\n2. Existe suficiente contexto para registrarla.\n\nSi falta información solicita aclaración.\n\nRegistrar en la hoja:\n\nFecha\nTarea\nPrioridad\nEstado\n\nSi el usuario no indica prioridad utilizar:\nMedia\n\nSi el usuario no indica estado utilizar:\nPendiente",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1wCMKE4iRQVrEpDTdOIWIky5-erj8NApchZgJP9b31Uk",
          "mode": "list",
          "cachedResultName": "Tareas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wCMKE4iRQVrEpDTdOIWIky5-erj8NApchZgJP9b31Uk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tareas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wCMKE4iRQVrEpDTdOIWIky5-erj8NApchZgJP9b31Uk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', ``, 'string') }}",
            "Tarea": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tarea', ``, 'string') }}",
            "Prioridad": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prioridad', ``, 'string') }}",
            "Estado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Estado', ``, 'string') }}"
          },
          "matchingColumns": [
            "Tarea"
          ],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tarea",
              "displayName": "Tarea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prioridad",
              "displayName": "Prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        112,
        144
      ],
      "id": "e1238a93-c355-418c-bbca-0a7e195d77eb",
      "name": "Append in Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IPeLgd9izClYTXgA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -224,
        -112
      ],
      "id": "9e4ce7c5-42a6-4aa9-a0f5-988ffb5e3de2",
      "name": "Chat Message",
      "webhookId": "18cec134-daca-497a-8b1c-85c1dea81cd4"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utiliza Gmail únicamente cuando:\n\n1. El usuario solicita enviar un correo.\n2. Existe una dirección de correo electrónico explícita.\n3. Existe contenido suficiente para redactar el mensaje.\n\nSi cualquiera de estas condiciones no se cumple, NO utilices Gmail.",
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        272,
        144
      ],
      "id": "90ec4c3e-402a-4a33-9019-d01ebdbaa3a6",
      "name": "Send in Gmail",
      "webhookId": "882d8372-6cdd-4c34-a513-49f515225a82",
      "credentials": {
        "gmailOAuth2": {
          "id": "Y9Lxnca3caaLyaiR",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1wCMKE4iRQVrEpDTdOIWIky5-erj8NApchZgJP9b31Uk",
          "mode": "list",
          "cachedResultName": "Tareas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wCMKE4iRQVrEpDTdOIWIky5-erj8NApchZgJP9b31Uk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 784312286,
          "mode": "list",
          "cachedResultName": "Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wCMKE4iRQVrEpDTdOIWIky5-erj8NApchZgJP9b31Uk/edit#gid=784312286"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $now.toString() }}",
            "Input": "={{ $('Chat Message').item.json.chatInput }}",
            "Output": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Input",
              "displayName": "Input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Output",
              "displayName": "Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        320,
        -112
      ],
      "id": "92f07b1d-3016-4bc3-9249-1fae8ad3ab4a",
      "name": "Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IPeLgd9izClYTXgA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -80,
        144
      ],
      "id": "b69d2cb2-b793-4018-b81f-675c7ae6f813",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TFfYp4wSZaJONOub",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Asesor Comercial": {
      "main": [
        [
          {
            "node": "Log",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Append in Sheet": {
      "ai_tool": [
        [
          {
            "node": "Asesor Comercial",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat Message": {
      "main": [
        [
          {
            "node": "Asesor Comercial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Asesor Comercial",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Asesor Comercial",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "54d2d618-4e97-40ac-884c-4ff4e08aca0d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5b9c40997566b82128fa8b03929865b384cfa75aab5432db2f2fcda2419bb95e"
  },
  "id": "k1M7O9hHEWi3xFxq",
  "tags": []
}